# Sample Caddyfile
#
# Defines two listeners (unsecured & secured) that host the example/video directory.
#

# Unsecure listener for debugging purposes
http://localhost:4043 {
    root video/left/
    log stdout
    tls internal

}

# Secure listener, required for TLS and QUIC connections
https://100.64.0.1:4244 {
    root video/left/
    tls self_signed
    log stdout
    tls internal

}

https://localhost:4244 {
   root video/left/
   tls self_signed
   log stdout
   tls internal

}

